<html>
  <header>
    <h1>URL shortener API</h1>
    <p>This API receives POST requests and saves URLs to abbreviated addresses, such as '.../1, .../2' and so on.</p>
  </header>
  <body>
   <ul>
     <li>Create a server
     <li>Send POST request to "https://domain/api/shorturl" with Content-Type: x-www-form-urlencoder with body argument addr=someurl
     <br>
       <li>An example:
     <br>
       POST HTTP 1.1
       Type-Content: x-www-form-urlencoded
       .
       .
       .
       addr=https://youtube.com       
   </ul>
     <br>
     Great! Now type https://domain/api/shorturl/1 on the browser. It should redirect you to Youtube.
   
    <img href="https://media.gettyimages.com/photos/hand-sign-small-picture-id1141960215?s=612x612" id="api_img">
  </body>
</html>
